apiVersion: batch/v1
kind: Job
metadata:
  name: load-fhir-sample-data
spec:
  template:
    spec:
      automountServiceAccountToken: false
      restartPolicy: Never
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      initContainers:
        - name: wait-for-fhir-server
          image: docker.io/curlimages/curl:8.18.0@sha256:d94d07ba9e7d6de898b6d96c1a072f6f8266c687af78a74f380087a0addf5d17
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            capabilities:
              drop:
                - "ALL"
            privileged: false
            runAsGroup: 65532
            runAsUser: 65532
            readOnlyRootFilesystem: true
            seccompProfile:
              type: RuntimeDefault
          env:
            - name: FHIR_URL
              value: http://fhir-server:8080/fhir
          command: ["/bin/sh", "-c"]
          args:
            - |
              until [ "$(curl -s -o /dev/null -L -w '%{http_code}' "$FHIR_URL/metadata")" == "200" ]; do
                echo "$(date): Waiting for FHIR server to be up";
                sleep 15;
              done;
      containers:
        - name: curl
          image: docker.io/curlimages/curl:8.18.0@sha256:d94d07ba9e7d6de898b6d96c1a072f6f8266c687af78a74f380087a0addf5d17
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            capabilities:
              drop:
                - "ALL"
            privileged: false
            runAsGroup: 65532
            runAsUser: 65532
            readOnlyRootFilesystem: true
            seccompProfile:
              type: RuntimeDefault
          command: ["/bin/sh", "-c"]
          env:
            - name: FHIR_URL
              value: http://fhir-server:8080/fhir
          args:
            - curl -X POST -H 'Content-Type:application/fhir+json' -d @/opt/data/chester.json $FHIR_URL
          volumeMounts:
            - name: fhir-sample-data-volume
              mountPath: /opt/data
      volumes:
        - name: fhir-sample-data-volume
          configMap:
            name: synthea-fhir-sample-data
