apiVersion: v1
kind: Pod
metadata:
  name: fhir-server
  labels:
    app.kubernetes.io/name: fhir-server
spec:
  automountServiceAccountToken: false
  securityContext:
    seccompProfile:
      type: RuntimeDefault
  containers:
    - name: fhir-server
      image: docker.io/hapiproject/hapi:v8.0.0@sha256:bf6ecbb4492361ae258a2bde6d4daf4c505b1a98e0925745aa0689e95b2d157e
      securityContext:
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        capabilities:
          drop:
            - "ALL"
        privileged: false
        runAsGroup: 65532
        runAsUser: 65532
        readOnlyRootFilesystem: true
        seccompProfile:
          type: RuntimeDefault
      livenessProbe:
        initialDelaySeconds: 30
        failureThreshold: 5
        successThreshold: 1
        periodSeconds: 15
        timeoutSeconds: 10
        httpGet:
          path: /actuator/health/liveness
          port: http
      readinessProbe:
        initialDelaySeconds: 30
        failureThreshold: 5
        successThreshold: 1
        periodSeconds: 10
        timeoutSeconds: 10
        httpGet:
          path: /actuator/health/readiness
          port: http
      startupProbe:
        initialDelaySeconds: 30
        failureThreshold: 10
        successThreshold: 1
        periodSeconds: 15
        timeoutSeconds: 30
        httpGet:
          path: /actuator/health/readiness
          port: http
      resources:
        limits:
          memory: "2Gi"
          cpu: "2000m"
      ports:
        - containerPort: 8080
          name: http
      volumeMounts:
        - mountPath: /tmp
          name: tmp
        - mountPath: /app/target
          name: app-target
  volumes:
    - name: tmp
      emptyDir: {}
    - name: app-target
      emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: fhir-server
spec:
  selector:
    app.kubernetes.io/name: fhir-server
  ports:
    - port: 8080
      targetPort: http
---
apiVersion: v1
kind: Pod
metadata:
  name: fhir-server-exporter
  labels:
    app.kubernetes.io/name: fhir-server-exporter
  annotations:
    checkov.io/skip1: CKV_K8S_43=set by kustomize
    checkov.io/skip2: CKV_K8S_14=set by kustomize
spec:
  automountServiceAccountToken: false
  securityContext:
    seccompProfile:
      type: RuntimeDefault
  initContainers:
    - name: wait-for-fhir-server
      image: docker.io/curlimages/curl:8.17.0@sha256:935d9100e9ba842cdb060de42472c7ca90cfe9a7c96e4dacb55e79e560b3ff40
      securityContext:
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        capabilities:
          drop:
            - "ALL"
        privileged: false
        runAsGroup: 65532
        runAsUser: 65532
        readOnlyRootFilesystem: true
        seccompProfile:
          type: RuntimeDefault
      env:
        - name: FHIR_URL
          value: http://fhir-server:8080/fhir
      command: ["/bin/sh", "-c"]
      args:
        - |
          until [ "$(curl -s -o /dev/null -L -w '%{http_code}' "$FHIR_URL/metadata")" == "200" ]; do
            echo "$(date): Waiting for FHIR server @ ${FHIR_URL} to be up";
            sleep 15;
          done;
  containers:
    - name: fhir-server-exporter
      image: ghcr.io/chgl/fhir-server-exporter:hack
      securityContext:
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        capabilities:
          drop:
            - "ALL"
        privileged: false
        runAsGroup: 65532
        runAsUser: 65532
        readOnlyRootFilesystem: true
        seccompProfile:
          type: RuntimeDefault
      resources:
        limits:
          memory: "256Mi"
          cpu: "100m"
      readinessProbe:
        httpGet:
          path: /metrics
          port: metrics
      livenessProbe:
        httpGet:
          path: /metrics
          port: metrics
      ports:
        - containerPort: 9797
          name: metrics
      env:
        - name: FhirServerUrl
          value: http://fhir-server:8080/fhir
        - name: COMPlus_EnableDiagnostics
          value: "0"
---
apiVersion: v1
kind: Service
metadata:
  name: fhir-server-exporter
spec:
  selector:
    app.kubernetes.io/name: fhir-server-exporter
  ports:
    - port: 9797
      targetPort: metrics
