apiVersion: batch/v1
kind: Job
metadata:
  name: test-fhir-server-exporter
spec:
  template:
    spec:
      automountServiceAccountToken: false
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: curl
          image: docker.io/curlimages/curl:8.18.0@sha256:d94d07ba9e7d6de898b6d96c1a072f6f8266c687af78a74f380087a0addf5d17
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            capabilities:
              drop:
                - "ALL"
            privileged: false
            runAsGroup: 65532
            runAsUser: 65532
            readOnlyRootFilesystem: true
            seccompProfile:
              type: RuntimeDefault
          command: ["/bin/sh", "-c"]
          args:
            - curl
              --retry-connrefuse
              --connect-timeout 10
              --max-time 300
              --retry 10
              --retry-delay 10
              http://fhir-server-exporter:9797/metrics
      restartPolicy: Never
